{% extends '_base/_page-nav.twig' %}

{% block page_nav title %}

{% block page_title __(title) %}

{% block page_main %}

    {% if messages is defined and messages is not empty %}
        <ul>
        {% for message in messages %}
            {% if message is iterable %}
                <li>{{ dump(message) }}</li>
            {% else %}
                <li>{{ message }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}

    {% if results is defined and results is not empty %}
        <ul>
        {% for result in results %}
            {% setcontent existing = 'cursussen' where { 'cursusid': result.CursusID, 'status': '!' } returnsingle %}
            {% if existing %}
                <li><a href="{{ existing.editlink() }}">{{ result.CursusID }} - {{ result.Opleiding.Omschrijving }}</a></li>
            {% else %}
                <li>{{ result.CursusID }} - {{ result.Opleiding.Omschrijving }}</li>
            {% endif %}
        {% endfor %}
        </ul>

        <a class="btn btn-primary" href="?confirmed=looksgood">Import these records</a>
    {% endif %}

{% endblock page_main %}
