<?xml version="1.0" encoding="utf-8"?>
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:e="http://e-Register.nl" xmlns:lead="http://schemas.datacontract.org/2004/07/Lead.eRegister2.PublicService.Contract">
   <soapenv:Header/>
   <soapenv:Body>
      <e:VolledigeCursusAanbod>
         <e:identificatie>
            <lead:AfgeleideNaam>{{ afgeleidenaam|default('set this in local config') }}</lead:AfgeleideNaam>
            <lead:CheckTestOmgeving>{{ checktestomgeving|default('true') }}</lead:CheckTestOmgeving>
            <lead:Password>{{ password|default('set this in local config') }}</lead:Password>
            <lead:TestOmgeving>{{ testomgeving|default('false') }}</lead:TestOmgeving>
            <lead:UserName>{{ username|default('set this in local config') }}</lead:UserName>
            <lead:VersieNummer>{{ versienummer|default('10.28.0.0') }}</lead:VersieNummer>
         </e:identificatie>
      </e:VolledigeCursusAanbod>
   </soapenv:Body>
</soapenv:Envelope>